name: Flutter Lint Check

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
  push:
    branches:
      - main
      - develop
      - feature/**
      - hotfix/**
      - bugfix/**

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: "3.16.9"

      - name: Install dependencies
        run: flutter pub get

      - name: Run Flutter Analyze
        run: flutter analyze
